<div class="page checkout-page order-completed-page">
    <div class="page-title"><h1>Thank you</h1></div>
        <div class="page-body checkout-data">
            <div class="section order-completed">
                <div class="title">
                    <strong>Your order has been successfully processed! Go back and click Continue to Confirm order</strong>
                </div>
            </div>
                <button onclick="window.history.back()" type="button" style="background-color: #4CAF50; border: none; color: white; padding: 10px 25px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin-top: 15px; ">Go Back</button>
        </div>
        
</div>
